<div id="avplayer" class="avplayer"></div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('avplayer', {
      height: '315',
      width: '560',
      videoId: 'tGLJidCBlvk'
    });
  }
</script>

<!-- https://www.youtube.com/embed/OR2UcBBU33Y -->